@model IEnumerable<titanitedb.Models.Titanite>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the TitaniteDb!</h1>
</div>


<form asp-controller="Titanite" asp-action="Search">
    <p>
        Search: <input type="text" name="SearchString" maxlength="500" minlength="1" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sample Name</th>
            <th scope="col">Tectonic Setting</th>
            <th scope="col">Latitude Max</th>
            <th scope="col">Longitude Max</th>
            <th scope="col">Rock Name</th>
            <th scope="col">Mineral</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.SampleName</td>
                <td>@m.TectonicSetting</td>
                <td>@m.LatitudeMax</td>
                <td>@m.LongitudeMax</td>
                <td>@m.RockName</td>
                <td>@m.Mineral</td>
            </tr>
        }
    </tbody>
</table>
